.wrapper {
  padding-inline: 18px;
  max-width: 1236px;
  margin-inline: auto;
  overflow: hidden;

  &--medium {
    max-width: 976px;
  }

  &--no-padding-until-medium {
    padding-inline: 0;
    
    @mixin atMedium {
      padding-inline: 18px;
    }
  }

  &--no-padding-until-large {
    padding-inline: 0;
    
    @mixin atLarge {
      padding-inline: 18px;
    }
  }

  .wrapper {
    padding-inline: 0;
  }
  
  &--b-margin {
    margin-bottom: 1rem;
    
    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }
}
